<div class="padded">
  <%= form_tag(tasks_path, method: :get, class: "form-inline text-center") do %>
    <div class="form-group">
      <%= text_field_tag(:city, params[:city], placeholder: "Dans quelle Ville ?", class: "form-control") %>
       <%= select_tag(:category, options_for_select([["Toutes", nil], "Aide administratif","Babysitting", "Bricolage - Travaux", "Compagnie 3e âge", "Courses", "Covoiturage", "Cuisine", "Déménagement", "Education - Soutien", "Faire la queue", "Garage", "Gardiennage", "Jardinnage", "Livraison", "Ménage - Repassage", "Autre"], params[:category] || "Toutes"), placeholder: "quelle category ?",class: "form-control") %>
       <%= select_tag(:perimetre, options_for_select([5, 10, 15, 20], params[:perimetre] || 10), placeholder: "quel perimètre ?",class: "form-control") %>

      <%= submit_tag("Regardons", class: "btn btn-danger")%>
    </div>
  <% end %>
</div>
