<%= render "searchbar" %>
<div id="features">
  <div id="features-card">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <% @tasks.each do |task|%>
            <div class="col-xs-12 p10">
              <div class="subcard">
                <div class="row">
                  <div class="col-xs-8">
                    <div class="announce">
                      <h3><%= link_to task.title.capitalize.truncate(30), task_path(task.id) %></h3>
                      <p><%= task.description.truncate(50) %></p>
                      <p><strong><span class="label label-danger"><%= task.price %> €</span></strong></p>
                    </div>
                  </div>
                  <div class="col-xs-4">
<!--                     <div class="cover-photo img-circle" style="<%= 'background:url(' + image_path(task.picture) + ')' %>;background-size:cover">
                    </div> -->
                    <ul class="list-inline text-center">
                      <li>
                        <%= link_to task_path(task) do %>
                          <i class="fa fa-eye"></i>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to task_path(task) do %>
                          <i class="fa fa-dollar"></i>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>

        <div class="col-xs-6 map-container">
          <div id="map" style="width: 600px; height: 600px;" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="research-end" class="clear"></div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


