<div id="features">
  <div id="features-card">
    <h2>Les services proches de chez vous</h2>

    <%= render "searchbar" %>

    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <% @tasks.each do |task|%>
            <div class="col-xs-12 col-sm-6 p10">
              <div class="subcard">

                <div class="cover-photo" style="<%= 'background:url(' + image_path(task.picture) + ')' %>;background-size:cover">
                </div>

                <h3><%= link_to task.title.capitalize.truncate(30), task_path(task.id) %></h3>
                  <p><%= task.description.truncate(50) %></p>
                <p><strong>Prix proposé : <%= task.price %> €</strong></p>
                <br>
                <%= link_to("More details", task_path(task), class: "btn btn-default btn-xs btn-right")%>
              </div>
            </div>
          <%end%>
        </div>

        <div class="col-xs-6">
          <div id="map" style="width: 500px; height: 600px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


