<h1> <%= @task.title %> </h1>
<p> <%= @task. description %> </p>
<h2> <%= @task.price %> </h2>
<h2><%= @task.date %> </h2>
<h2><%= @task.category %> </h2>
<h2><%= @task.done %> </h2>
<h2> <%= image_tag @task.picture.url%></h2>

