<h1> <%= @task.title %> </h1>
<p> <%= @task. description %> </p>
<h2> <%= @task.price %> </h2>
<h2><%= @task.date %> </h2>
<h2><%= @task.category %> </h2>
<h2><%= @task.done %> </h2>
<h2> <%= image_tag @task.picture.url%></h2>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
  $(document).ready(function() {
    var coord = <%= raw @flat_coordinates %>;
    alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
  });
<% end %>
<% end %>

<div id="footer">
  <div class="social">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook medium_social"></i></li></a>
      <li><a href="#"><i class="fa fa-twitter medium_social"></i></li></a>
      <li><a href="#"><i class="fa fa-google-plus medium_social"></i></li></a>
      <li><a href="#"><i class="fa fa-linkedin medium_social"></i></li></a>
      <p>ServiU.com is a compagny by LeWagon</p>
    </ul>
  </div>
</div>