<div class="container">
  <div class="grey-card">
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">​
        <%= image_tag "http://placehold.it/200x200", class: "img-circle" %>
      </div>​
      <div class="col-xs-12 col-md-8">​
        <%= @user.picture %>
        <%= @user.first_name %>
        <%= @user.name %>
      </div>
    </div>
  </div>
</div>

<div class="container" id='tasks'>
  <div id="tab-grey-card">
    <div id="content">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a id='posted_tasks' href="#red" data-toggle="tab">Annonces postées</a></li>
        <li><a id='done_tasks' href="#blue" data-toggle="tab">Réponses formulées</a></li>
      </ul>
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="red">
            <h3>Annonces postées</h3>
            <div class="container">
              <ul class='tasks-list'>
                <% @tasks.each do |task| %>
                <li>
                  <div class="row">
                    <div class="col-xs-12 col-md-8">​
                      <p><%= link_to task.title, task_path(task) %></p>
                      <p><%= task.description.truncate(50) %></p>


                    </div>
                    <% if current_user == @user %>
                      <% task.bookings.each do |booking| %>
                        <div class="col-xs-12 col-md-4 text-center">​
                          <%= booking.user.picture %>
                          <%= link_to booking.user.first_name, user_path(booking.user)%> vous a fait une proposition

                          <br>
                          <% if booking.accepted.nil? %>
                            <%= form_for [booking.task, booking], url: task_booking_path(booking.task, booking) do |f| %>
                              <%= f.hidden_field :accepted, value: true %>
                              <%= f.submit 'Accepter', class: "btn btn-primary" %>
                            <% end %>
                            <br>
                            <%= form_for [booking.task, booking], url: task_booking_path(booking.task, booking) do |f| %>
                              <%= f.hidden_field :accepted, value: false %>
                              <%= f.submit 'Décliner', class: "btn btn-danger" %>
                            <% end %>
                          <% else %>
                            <%= booking.accepted? ? "Acceptée" : "Déclinée" %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>


        <div class="tab-pane" id="blue">
          <h3>Réponses formulées</h3>
          <div class="container">
            <div class="row">
              <% @bookings.each do |booking| %>
                <div class="col-xs-12 col-md-4 text-center">​
                  <p><%= booking.description %></p>
                  <p><%= booking.user.first_name %></p>
                </div>
                <div class="col-xs-12 col-md-3 text-center">​
                  <%= booking.accepted == nil ? "En cours" : (booking.accepted ? "Accepté !" : "Refusé mec") %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>

</div> <!-- container -->

<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>

<%= content_for(:after_js) do %>
  <script>

    if(Boolean(getParameterByName("done_tasks"))) {
      $('#done_tasks').tab('show')
    }


    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
  </script>
<% end %>