<!DOCTYPE html>
<html>
<head>

  <title>Serviu</title>

</head>

<body>

  <!-- Banner -->

  <div id="banner">
    <div class="filter"></div>
    <h1>Serviu</h1>
    <br>
    <p>La Référence du Service</p>
    <p>entre Particuliers</p>
  </div>

  <%= render "tasks/searchbar" %>
  <div id="features">
    <div id="features-card">
      <h2>Les différents types de services</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="serv-list">
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
              <p>Aide administrative</p><br>
              </div>
              <div class="service">
                <%= image_tag "Babysitting.svg", class: "serv_logos" %>
                <p>Babysitting</p><br>
              </div>
              <div class="service">
                <%= image_tag "Bricolage.svg", class: "serv_logos" %>
                <p>Bricolage - Travaux</p><br>
              </div>
              <div class="service">
                <%= image_tag "Old.svg", class: "serv_logos" %>
                <p>Compagnie 3ème age</p><br>
              </div>
              <div class="service">
                <%= image_tag "Shopping.svg", class: "serv_logos" %>
                <p>Courses</p><br>
              </div>
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Covoiturage</p><br>
              </div>
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Cuisine</p><br>
              </div>
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Déménagement</p><br>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div  class="serv-list">
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Education - Soutien</p><br>
              </div>
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Faire la queue</p><br>
              </div>
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Garage</p><br>
              </div>
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Gardiennage</p><br>
              </div>
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Jardinage</p><br>
              </div>
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Livraison</p><br>
              </div>
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Ménage - Repassage</p><br>
              </div>
              <div class="service">
                <%= image_tag "Administratif.svg", class: "serv_logos" %>
                <p>Autre</p><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>