<!DOCTYPE html>
<html>
<head>

  <title>QstomR</title>

</head>

<body>

  <!-- Banner -->

  <div id="banner">
    <div class="filter"></div>
    <h1>Be the customer of everyone</h1>
    <p>QstomR is the absolute marketplace for everything. Ask a service and wait for it.</p>
    <%= render "tasks/searchbar" %>
  </div>

  <div id="description">
    <div id="carous" class="container text-center">
      <h2 class="text-center">Ask something in...</h2>
      <div class="row">
        <div class="col-xs-3 col-md-2 arrows">
          <%= image_tag "Arr-left.svg", class: "left" %>
        </div>
        <div class="col-xs-6 col-md-8 carousel">
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Administratif.svg", class: "img-responsive" %>
              <p>Aide administrative</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Babysitting.svg", class: "img-responsive" %>
              <p>Babysitting</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Bricolage.svg", class: "img-responsive" %>
              <p>Bricolage - Travaux</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Old.svg", class: "img-responsive" %>
              <p>Compagnie 3ème age</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Shopping.svg", class: "img-responsive" %>
              <p>Courses</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Drive.svg", class: "img-responsive" %>
              <p>Covoiturage</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Cook.svg", class: "img-responsive" %>
              <p>Cuisine</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Movin.svg", class: "img-responsive" %>
              <p>Déménagement</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "School.svg", class: "img-responsive" %>
              <p>Education - Soutien</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Line.svg", class: "img-responsive" %>
              <p>Faire la queue</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Car.svg", class: "img-responsive" %>
              <p>Garage</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Guarding.svg", class: "img-responsive" %>
              <p>Gardiennage</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Garden.svg", class: "img-responsive" %>
              <p>Jardinage</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Delivery.svg", class: "img-responsive" %>
              <p>Livraison</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Cleaning.svg", class: "img-responsive" %>
              <p>Ménage - Repassage</p>
            </div>
          </div>
          <div>
            <div class="text-center serv_logos">
              <%= image_tag "Other.svg", class: "img-responsive" %>
              <p>Autre</p>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-md-2 arrows">
          <%= image_tag "Arr-right.svg", class: "right" %>
        </div>
 <!--
            <div class="service">
              <%= image_tag "Other.svg", class: "serv_logos" %>
              <p>Autre</p>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</body>
